.card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card div {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.card div img {
    width: 80px;
    height: 80px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: red;
}