.nav {
    position: fixed;
    top:0;
    left:0;
    z-index: 1000;
    width: 100vw;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.logo {
    justify-self: center;
    font-size: 1.3rem;
}

#home {
    width: 5.5vw;
    max-width: 50px;
    justify-self: center;
    margin-left: 3vw;
}

.rightHeader {
    justify-self: flex-end;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.rightHeader li{
    width: 5.5vw;
    max-width: 50px;
}

a {
    text-decoration: none;
    color: black;
}


